In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import pymongo
import re
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
import time

# getting gkey from the config file
from config import gkey

# getting the info for sql bench
from config import remote_db_endpoint, remote_db_port
from config import remote_db_name, remote_db_user, remote_db_pwd

In [23]:
# Creating engine to mysql
engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
conn = engine.connect()

# SELECT statement

In [41]:
rating_df = pd.read_sql(
        "SELECT * from pr.restaurants_tbl where city='Mayaguez'",
        con=engine
    )

rating_df.head()

,city,type,keyword,business_status,lat,lng,icon,name,place_id,price_level,photo_reference,rating,place_types,user_ratings_total,address
0,Mayaguez,restaurant,spanish,OPERATIONAL,18.178452,-67.171354,https://maps.gstatic.com/mapfiles/place_api/ic...,El Mesón Español,ChIJRX72p46yAowRKdZlg5F3WOA,NaN,ATtYBwL5qMVzSYNIuHPL9vYbUUD797FHzm3CO3zzW-c_hn...,4.6,"['restaurant', 'food', 'point_of_interest', 'e...",83,"PR-102, Mayagüez"
1,Mayaguez,restaurant,spanish,CLOSED_TEMPORARILY,18.206363,-67.152943,https://maps.gstatic.com/mapfiles/place_api/ic...,Costa,ChIJ4cp1kjeyAowRU9LIk2UNEFo,2.0,ATtYBwKYZJPsXf5rlhAY2NG5nQKyhse_kZxibGqcMvuurS...,4.5,"['restaurant', 'food', 'point_of_interest', 'e...",376,Mayagüez
2,Mayaguez,restaurant,spanish,OPERATIONAL,18.200994,-67.137353,https://maps.gstatic.com/mapfiles/place_api/ic...,La Jibarita,ChIJDQpRv7WzAowRaqdDH5_4J70,2.0,ATtYBwLN9o_VPRzKa0ugAMFxyMD5mM8bYuWvDthxZdVrRK...,4.6,"['night_club', 'meal_takeaway', 'bar', 'restau...",856,"109 Calle Martinez Nadal, Esquina, Calle Ernes..."
3,Mayaguez,restaurant,spanish,OPERATIONAL,18.202782,-67.144808,https://maps.gstatic.com/mapfiles/place_api/ic...,Restaurante Sancho Panza,ChIJb7R7YkqyAowRwCYWuAezVsg,1.0,ATtYBwJMa7Rfy5eABFUoul3nOt5C-djjSVh_9ziYUQuY9T...,4.4,"['restaurant', 'food', 'point_of_interest', 'e...",902,"87 Oeste Calle de la Candelaria, Mayagüez"
4,Mayaguez,restaurant,spanish,OPERATIONAL,18.247106,-67.174939,https://maps.gstatic.com/mapfiles/place_api/ic...,Alcatraz Beach Bar & Restaurant,ChIJ305OdtixAowRdtldZXnPLbE,1.0,ATtYBwLDX1Jnb-lOsEMtZWPeJUtjLoIPMSNoeifHKXhPBN...,4.5,"['restaurant', 'food', 'point_of_interest', 'e...",137,"carr 341 esquina carr 64, El Mani"

In [38]:
rating_df = pd.read_sql(
        "SELECT name as 'Restaurant Name', keyword as Type, business_status as Status, CAST(price_level AS UNSIGNED) as Price, rating as Rating, address as Address from pr.restaurants_tbl where city='Ponce' and price_level >=0  group by keyword",
        con=engine
    )

rating_df

,Restaurant Name,Type,Status,Price,Rating,Address
0,Asturias Lounge Bar,spanish,OPERATIONAL,2,4.7,"Asturias, 7045 Cll Mendez Vigo, Ponce"
1,El Barril de la Mulata,puertorican,OPERATIONAL,1,4.6,"151 Calle Villa, Ponce"
2,LongHorn Steakhouse,middle eastern,OPERATIONAL,2,4.5,"2050, 2050 Ponce Bypass Ste 225, Ponce"
3,New York Buffet,chinese,OPERATIONAL,2,4.5,"Super Buffet, New York, Ponce"
4,McDonald's,fast food,OPERATIONAL,1,4.3,Ponce

# Update

In [17]:
# pr.restaurants_tbl.update().set('"'keyword", "Beijing").where("Name = 'Peking'")

conn.execute(
        "update pr.restaurants_tbl set keyword='French' where keyword='french'",
    )

In [19]:
conn.execute(
        "update pr.restaurants_tbl set city='San Juan' where city='san juan'",
    )

# Truncate will purge the data

# Truncate statement

In [29]:
conn.execute(
        "truncate table pr.restaurants_tbl",
    )